packages:
  yum:
    postgresql-devel: []   # librerías necesarias para psycopg2
    gcc: []                # compilador C
    python3-devel: []      # headers de Python para compilar módulos

commands:
  01_upgrade_pip:
    command: "pip3 install --upgrade pip"
  02_install_python_packages:
    command: "pip3 install Flask Flask-Cors psycopg2-binary"

