packages:
  yum:
    gcc: []              # compilador C
    python3-devel: []    # headers de Python
    libffi-devel: []     # requerido por algunas dependencias

commands:
  01_upgrade_pip:
    command: "pip3 install --upgrade pip"

container_commands:
  01_install_python_packages:
    command: "pip3 install --no-cache-dir -r requirements.txt"
