# .ebextensions/01_packages.config
packages:
  yum:
    gcc: []
    gcc-c++: []
    postgresql-libs: []
    postgresql-devel: []
    python3-devel: []
    libffi-devel: []
    bzip2-devel: []
    zlib-devel: []

container_commands:
  01_upgrade_pip:
    command: "python3 -m pip install --upgrade pip"
  02_install_requirements:
    command: "pip3 install --no-cache-dir -r requirements.txt"
